<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>
<script>
  function waitt(value) {
    var nama = document.getElementById("nama_group").value;
    nama = nama.replace(/ /g, '+');
    var e = document.getElementById("position");
    var position = e.options[e.selectedIndex].value;
    window.location = "/home/wait?id=" + value + "&nama=" + nama + "&position=" + position;
  }

  function search(value) {
    var e = document.getElementById("position");
    var position = e.options[e.selectedIndex].value;
    window.location = "/home/search?id=" + value + "&position=" + position;
  }
</script>

<body>
  <div class="right">
    <a class="waves-effect waves-light btn-small" href="/">Log Out</a>
  </div>
  <h1><%= title %></h1>
  <label for="">Pick your position</label>
  <select class="browser-default" id="position">
<option value="" disabled selected></option>
<% list_position.forEach(position=>{ %>
  <%var name= position.pos_name %>
<option value=<%-name %>  ><%- name %></option>
<% }); %>
</select>
  <ul>
    <li>
      <label for="">Group Name</label>
      <input type="text" id="nama_group"></input> <a class="waves-effect waves-light btn" href="javascript:waitt(<%- id %>)">Create Room</a>
    </li>
    <br>
    <li>
      <a class="waves-effect waves-light btn" href="javascript:search(<%- id %>)">Search Group</a>
    </li>
  </ul>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>

</html>
