<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<script>
  function waitt(value) {
    var nama = document.getElementById("nama_group").value;
    nama = nama.replace(/ /g, '+');
    var e = document.getElementById("position");
    var position = e.options[e.selectedIndex].value;
    window.location = "/home/wait?id=" + value + "&nama=" + nama + "&position=" + position;
  }

  function search(value) {
    var e = document.getElementById("position");
    var position = e.options[e.selectedIndex].value;
    window.location = "/home/search?id=" + value + "&position=" + position;
  }
</script>

<body>
  <h1><%= title %></h1>
  <h3>Your Position</h3>
  <select id="position">
<option value="" disabled selected></option>
<% list_position.forEach(position=>{ %>
  <%var name= position.pos_name %>
<option value=<%-name %>  ><%- name %></option>
<% }); %>
</select>
  <ul>
    <li>
      <input type="text" id="nama_group"></input> <a href="javascript:waitt(<%- id %>)">Create Room</a>
    </li>
    <li>
      <a href="javascript:search(<%- id %>)">Search Room</a>
    </li>
  </ul>
</body>

</html>
