<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>

<body>
  <center>
    <h2>Group Complete!! </h2>
    <h2>Your Team <%- nama %> </h2>
  </center>
  <table class="striped">
    <tr>
      <th>Username</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Position</th>
    </tr>
    <%var i=0;%>
      <%  list_user.forEach(user=>{ %>
        <tr>
          <td>
            <%- user.username %>
          </td>
          <td>
            <%- user.phone %>
          </td>
          <td>
            <%- user.email %>
          </td>
          <td>
            <%- list_position[i] %>
          </td>
        </tr>
        <%i++;%>
          <% }); %>
  </table>
</body>

</html>
