<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  </head>
  <body>
    <a class="waves-effect waves-light btn-large" href="/">Log Out</a>
    <h2>Admin Dashboard</h2>
    <table>
      <thead>
          <tr>
            <th>no.</th>
            <th>Username</th>
            <th>phone</th>
            <th>email</th>
          </tr>
      </thead>
      <tbody>
        <%
        let no=1;
        users.forEach(user=>{%>
          <tr>
            <td><%= no%></td>
            <td><%= user.username%></td>
            <td><%= user.phone%></td>
            <td><%= user.email%></td>
            <td><a class="waves-effect waves-light btn-large" href="Users/update/<%=user.id%>">update</a></td>
            <td><a class="waves-effect waves-light btn-large" href="Users/delete/<%=user.id%>">delete</a></td>
          </tr>
        <%no++})%>
      </tbody>
    </table>
    <a class="waves-effect waves-light btn-large" href="/Users/create">Create New User</a>
  </body>
</html>
